<h1>画像投稿フォーム</h1>
<%= form_with model: @music, local:true do |f| %>
  <h4>曲名</h4>
  <%= f.text_field :title %>
  <!--<h4>画像</h4>-->
  <!--<%#= f.attachment_field :song_image %>-->
  <h4>更新日</h4>
  <%= f.text_field :update_day %>
  <h4>曲</h4>
  <%= f.text_area :song %>
  <%= f.submit '投稿' %>
<% end %>