

 <% if user_signed_in? %>
        <Ul class="navbar-nav ml-auto">
          <li class="nav-item"><%= link_to " 新規投稿", user_path(current_user), class:"fas fa-home text-light" %>　</li>>
          <li class="nav-item"><%= link_to ' Log out ', destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt text-light' %>　</li>
        </Ul>
      <% else %>
        　<Ul class="navbar-nav ml-auto">
           <li class="nav-item"><%= link_to " Home ", "/", class:"fas fa-home text-light" %>　</li>
           <li class="nav-item"><%= link_to " About ", "/home/about", class:"fas fa-link text-light" %>　</li>
           <li class="nav-item"><%=link_to " Sign up ", new_user_registration_path, class:"fas fa-user-plus text-light" %>　</li>
           <li class="nav-item"><%=link_to " Log in ", new_user_session_path, class:"fas fa-sign-in-alt text-light" %>　</li>
          </Ul>
      <% end %>